* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
}
nav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

nav ol {
	list-style-type: none;
	float: left;
	margin-right: 26%;
	margin-left: -1%;
	margin-top: -8px;
}
nav ol li {
	float: left;
}
nav ul {
	list-style-type: none;
	float: left;
	margin-top: -8px;
}
nav ul li {
	float: left;
}
#sign-in {
	border: 1px solid blue;
	border-radius: 4px;
	background: white;
	padding: 13px;
	padding-right: 27px;
	padding-left: 27px;
	margin-top: -15px;
}
#sign-up {
	background: blue;
	border: 1px solid blue;
	border-radius: 4px;
	padding: 13px;
	padding-right: 27px;
	padding-left: 27px;
	margin-top: -15px;
}
ol li a {
	text-decoration: none;
	color: blue;
}
ul li a {
	text-decoration: none;
	color: blue;
	font-size: 11px;
}
ul li {
	text-indent: 15px;
	margin-left: 25px;
}
.container nav {
	padding: 2%;
	width: 108%;
	background-color: white;
	height: 60px;
}
.support {
	margin-right: 10px;
}
body {
	background-image: url('12.png');
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}
* {
	box-sizing: border-box;
}
/* style the submit button */
form.example button {
	float: left;
	width: -2%;
	padding: 10px;
	margin-top: 100px;
	background-color: blue;
	color: white;
	font-size: 11px;
	border: 1px solid blue;
	border-left: none;
	/* prevent double borders */
	cursor: pointer;
}

/* style the search field */
form.example input[type=text] {
	padding: 10px;
	font-size: 11px;
	border: 1px solid blue;
	float: left;
	width: 18%;
	background: #f1f1f1;
	margin-top: 100px;
	margin-left: 40px;
}
form.example::after {
	content: "";
	clear: both;
	display: table;
}
p {
	color: blue;
	margin-left: 120px;
	margin-top: 6%;
	font-size: 18px;
}
div img {
	width: 12%;
	margin-top: 5%;
	margin-left: 30px;
}

* {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
footer {
	background: blue;
	color: white;
	width: 100%;
	margin-top: 190px;
	margin-left: 0%;
}
div ul img {
	margin-top: 2%;
}
/* style the submit button */
footer.example button {
	float: right;
	width: 10%;
	padding: 5px;
	margin-top: -50%;
	background: white;
	color: blue;
	font-size: 11px;
	border: 1px solid blue;
	border-left: 1px solid blue;
	/* prevent double borders */
	cursor: pointer;
}
/* style the search field */
footer.example input[type=text] {
	padding: 5px;
	font-size: 11px;
	border: 1px solid blue;
	float: left;
	width: 80%;
	background: #f1f1f1;
	margin-top: -50%;
	margin-left: 50px;
}
footer.example::after {
	content: "";
	clear: both;
	display: table;
}
footer ul {
	margin-top: 3px;
}
.col {
	padding: 20px;
	padding-left: 50px;
}
/* extra large device only */
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 74.99%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }
}
/* large device only */
@media (min-width: 992px) and (max-width: 1199px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
/* medium device only */
@media (min-width: 769px) and (max-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}
/* small device only */
@media (max-width: 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .co-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}


